{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %} 
{%block content %}
<form action="../profile/edit_profile_page" method="post">
  <div class="mb-3">
      <label for="formFile" class="form-label">Edit Profile Picture</label>
      <input name='profile-picture' class="form-control" type="file" id="formFile">
      <button class="btn btn-primary" type="submit">Edit</button>
    </div>
</form>
{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
messages %}
<p>{{msg}}</p>
{% endfor %} {% endif %} {% endwith %} {{user}} 
{% endblock %}




  