{% extends 'base.html' %}
{% block title %}IskNetWork Login{% endblock %} 
{%block content %}
<form action="#" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name='email'
    />
    <div id="emailHelp" class="form-text">
        We'll send you a code to your email that you can enter below to reset your password
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Pass code</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      name='passcode'
      placeholder="Enter Pascode"
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
messages %}
<p>{{msg}}</p>
{% endfor %} {% endif %} {% endwith %} {{user}} 
{% endblock %}
